<html lang="en">
    <head>
        <title>Title Website</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="{{ URL::asset('<%= htmlWebpackPlugin.files.css[css] %>') }}" rel="stylesheet">
        <% } %>
    </head>
    <body class="hold-transition login-page" >
        @yield('form')
    </body>
</html>
<% htmlWebpackPlugin.files.js.forEach(function(item) {%>
<script src="{{ URL::asset('<%= item %>') }}" type="text/javascript"></script>
<% }); %>