<html>
<head>
    <title>Title Website</title>
    <!-- Block Meta Web -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Block CSS -->
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="{{ URL::asset('<%= htmlWebpackPlugin.files.css[css] %>') }}" rel="stylesheet">
    <% } %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="#" class="logo" style="background-color: #004354;">
            <center>
                <span class="logo-mini"><b>K</b></span>
                <span class="logo-lg"><img src="{{ URL::asset('assets/images/popcon-2018.jpg') }}" class="img-responsive" style="width: 60%;"></span>
            </center>
        </a>
        <nav class="navbar navbar-static-top" style="background-color: #004354;">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-users"></i>
                            <span class="hidden-xs">Hai, {{ \Illuminate\Support\Facades\Session::get('staffSession')['fullname'] }} {{ \Illuminate\Support\Facades\Session::get('picSession')['fullname'] }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header" style="height: 20%;">
                                <p></p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{{ route('profile.edit.staff') }}" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ route('auth.signout.submit') }}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                @yield("sidebar")
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        @yield("content")
    </div>
</div>
</body>
<footer>
    <script src="{{ URL::asset('assets/plugins/ckeditor/ckeditor.js') }}"></script>
    <% htmlWebpackPlugin.files.js.forEach(function(item) {%>
    <script src="{{ URL::asset('<%= item %>') }}" type="text/javascript"></script>
    <% }); %>
</footer>
</html>